@use '../utilities/variables';

.header__section {
  margin-bottom: 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), src("../images/header-mobile-1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 320px;
  height: 230px;
  padding: 0 20px;
  
}

.main__section {
  margin-bottom: 60px;
  background-color: var(--primary-background-color);
}

.footer__section {
  background-color: var(--secondary-background-color);
  text-align: center;
}

@media screen and (min-width: 480px) {
  .header__section {
    padding: 0 75px;
  }
}

@media screen and (min-width: 768px) {
  .header__section {
    margin-bottom: 60px;
  }
}

