:root {
  --primary-text-color: rgb(255, 255, 255);
  --secondary-text-color: rgb(0, 0, 0);
  --teritary-text-color: rgba(84, 84, 84, 1);
  --quarternary-text-color: rgba(129, 129, 129, 1);
  --quinary-text-color: rgba(255, 0, 27, 1);
  --senary-text-color: rgba(140, 140, 140, 1);
  --accent-color: rgb(255, 107, 8);
  --primary-background-color: rgb(255, 255, 255);
  --secondary-background-color: rgb(247, 247, 247);
}