<header class="header__section">
  <div class="header__container">
    <!-- <div class="dark-mode-btn__container">

    </div> -->
    <div class="logo-links__container">
      <div class="logo__container">
        <a href="#" class="logo-link">
          <svg class="logo__icon">
            <use href="./images/sprite.svg#icon-film"></use>
          </svg>
          <span class="logo-link__text">Filmoteka</span>
        </a>
      </div> 
      <div class="link__container">
        <a href="#" class="header__links home-link active">HOME</a>
        <a href="#" class="header__links library-link">MY LIBRARY</a>
      </div>
    </div>
    <div class="header__bottom-container">
      <div class="movie-search__container">
        <div class="input__container">
          <input class="header__movie-search" type="text" placeholder="Search movie">
          <svg class="icon-search" width="12" height="12">
            <use href="./images/sprite.svg#icon-search"></use>
          </svg>
        </div>
        <p class="search-text__failed">
          Search result not successful. Enter the correct movie name
        </p>
      </div>
      <div class="header__buttons-container">
        <button class="header__button header__button-watched">WATCHED</button>
        <button class="header__button header__button-queue active-btn">QUEUE</button>
      </div>
    </div>
  </div>
</header>