@use '../utilities/variables';

.header__movie-search {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: calc(16 / 14);
  width: 100%;
  background: none;
  outline: none;
  border: none;
  color: var(--primary-text-color);
  padding: 4px;
}

::placeholder {
  color: var(--primary-text-color);
}

.search-text__failed {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: none;
  align-items: center;
  margin-top: 22px;
  color: #FF001B;
}

.input__container {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 0.5px solid var(--primary-text-color);
}